.root {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.text {
    margin-left: 85px;
}

.button {
    display: block;
    height: 50px;
    margin-bottom: 10px;
    text-align: center;
    line-height: 30px;
    font-size: xx-large;
    width: 150px;
    margin: 20px;
    
    color: #FFF;
    text-align: center;
    border: solid #427AA8 1px;
    border-radius: 5px;
    text-decoration: none;
    background: #427AA8;
}

.button:hover {
    cursor: pointer;
    background: #59A3E0;
    text-decoration: none;
    filter: none;
}

.loader {
    border: 16px solid #f3f3f3;
    /* Light grey */
    border-top: 16px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

